<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360093627639-tmmme7op9qam3lg32co24al21geuhrn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360093627639-tmmme7op9qam3lg32co24al21geuhrn8</string>
	<key>API_KEY</key>
	<string>AIzaSyAibXX2xg-ups5oLlPQ_i-3Do9oVYahh5o</string>
	<key>GCM_SENDER_ID</key>
	<string>360093627639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itayoved.com.signupLoginFlowJan31</string>
	<key>PROJECT_ID</key>
	<string>onboarding-jan29</string>
	<key>STORAGE_BUCKET</key>
	<string>onboarding-jan29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360093627639:ios:2ac613acb0d82afc478ff2</string>
</dict>
</plist>